*,
*::before,
*::after {
	box-sizing: border-box;
	outline: none;
}

body {
	color: $violet;
	font-size: 16px;
	font-family: "Montserrat", sans-serif;
	line-height: 1.2;
}

a {
	font-family: "Montserrat", sans-serif;
	color: $violet;
	text-decoration: none;
	color: $white;
	cursor: pointer;
}

.container {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.title {
	color: $white;
	font-size: 48px;
	font-weight: 700;
}

.comment {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;

	color: $secondary-violet;
	font-size: 14px;
	line-height: 21px;

	width: 1000px;

	&::after {
		@include before-after;
		top: auto;
		left: auto;
		bottom: -19px;
		height: 2px;
		width: 80%;

		background-color: #645766;
	}
}

// Desktop
@media only screen and (max-width: 1220px) {
	.container {
		width: 1000px;
	}
}

// Tablets
@media only screen and (max-width: 1010px) {
	.container {
		width: 768px;
	}

	.title {
		font-size: 42px;
	}

	.comment {
		width: 90%;
	}
}
@media only screen and (max-width: 790px) {
	.container {
		width: 95%;
	}
}

@media only screen and (max-width: 690px) {
	.title {
		font-size: 36px;
	}
}

// Phones
@media only screen and (max-width: 480px) {
	.container {
		width: 320px;
	}

	.title {
		font-size: 28px;
	}

	.comment {
		width: 320px;
	}
}
