@@include("particle-html/header.html")



<!--Main -->
<main class="main-section">
    <header class="header">
        <div class="container">
            <nav class="nav">

                <a href="index.html" class="nav__logo">
                    <img src="img/forkio-logo-violet.png" alt="Forkio logo" class="nav__logo-img">
                    <img src="img/forkio-logo-white.png" alt="Forkio logo" class="nav__logo-img-hover">

                    <span class="nav__logo-text">Forkio</span>
                </a>

                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Overview</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">About Fork</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Buying Options</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Support</a>
                    </li>
                </ul>

                <a href="#" class="nav__btn">Buy Now</a>

                <div class="humburger-menu">
                    <div class="humburger-menu__line"></div>
                </div>

            </nav>
        </div> <!--        /container-->
    </header>

    <section class="intro">
        <div class="container">
            <h1 class="intro__title">Fork App</h1>
            <p class="intro__subtitle">A real gamechanger in the world of web development</p>
            <p class="intro__operating-system">v. 2.8 For Mac and Windows</p>
        </div> <!--        /container-->
    </section>
</main>



<!--People Are Talking About Fork-->
<section class="feedback">
    <div class="container">
        <h2 class="title">People Are Talking About Fork</h2>

        <ul class="feedback__list">
            <li class="feedback__item">
                <img src="img/about-fork/smashing-logo.png" alt="Smashing Magazine logo" class="feedback__item-img">
                <p class="feedback__item-description">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
            </li>
            <li class="feedback__item">
                <img src="img/about-fork/codrops-logo.png" alt="Codrops logo" class="feedback__item-img">
                <p class="feedback__item-description">Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.</p>
            </li>
            <li class="feedback__item">
                <img src="img/about-fork/w-logo.png" alt="W logo" class="feedback__item-img">
                <p class="feedback__item-description">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
            </li>
            <li class="feedback__item">
                <img src="img/about-fork/pixel-buddha-logo.png" alt="Pixel Buddha logo" class="feedback__item-img">
                <p class="feedback__item-description">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
            </li>
            <li class="feedback__item">
                <img src="img/about-fork/cb-logo.png" alt="CB Creative Bloq logo" class="feedback__item-img">
                <p class="feedback__item-description">Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus. </p>
            </li>
            <li class="feedback__item">
                <img src="img/about-fork/tnw-logo.png" alt="TNW logo" class="feedback__item-img">
                <p class="feedback__item-description">Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.</p>
            </li>
        </ul>

        <p class="comment">
            Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
    </div><!--        /container-->
</section>



<!--Pricing table-->
<section class="pricing-table">
    <div class="container">
        <h2 class="title">Fork Subscription Pricing</h2>

        <ul class="pricing-table__list">

            <li class="pricing-table__item">
                <h3 class="pricing-table__item-title">Students</h3>

                <div class="pricing-table__item-price">
                    <p class="number"><span>&#36;</span>29</p>
                    <p class="per-month">per month</p>
                </div>

                <div class="pricing-table__item-line"></div>

                <div class="pricing-table__item-benefits">
                    <p>Personal License</p>
                </div>

                <a href="#" class="pricing-table__item-btn">purchase</a>
            </li>

            <li class="pricing-table__item">
                <h3 class="pricing-table__item-title">professional</h3>

                <div class="pricing-table__item-price">
                    <p class="number"><span>&#36;</span>59</p>
                    <p class="per-month">per month</p>
                </div>

                <div class="pricing-table__item-line"></div>

                <div class="pricing-table__item-benefits">
                    <p>personal license</p>
                    <p>email support</p>
                </div>

                <a href="#" class="pricing-table__item-btn">purchase</a>
            </li>

            <li class="pricing-table__item agency">
                <h3 class="pricing-table__item-title agency">professional</h3>

                <div class="pricing-table__item-price agency">
                    <p class="number"><span>&#36;</span>59</p>
                    <p class="per-month">per month</p>
                </div>

                <div class="pricing-table__item-line"></div>

                <div class="pricing-table__item-benefits">
                    <p>personal license</p>
                    <p>email support</p>
                </div>

                <a href="#" class="pricing-table__item-btn agency">purchase</a>
            </li>

            <li class="pricing-table__item">
                <h3 class="pricing-table__item-title">enterprise</h3>

                <div class="pricing-table__item-price">
                    <p class="number"><span>&#36;</span>159</p>
                    <p class="per-month">per month</p>
                </div>

                <div class="pricing-table__item-line"></div>

                <div class="pricing-table__item-benefits">
                    <p>Unlimited Team Members</p>
                    <p>24/ 7 Phone Support</p>
                </div>

                <a href="#" class="pricing-table__item-btn">purchase</a>
            </li>
        </ul>
    </div><!--        /container-->
</section>



@@include("particle-html/footer.html")
