.feedback {
	background-color: #483c4d;
	background-image: url(../../img/feedback.png);
	background-position: top;
	background-repeat: no-repeat;

	width: 100vw;

	padding-top: 108px;

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		margin-top: 81px;
	}

	&__item {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 345px;

		margin-bottom: 117px;
	}

	&__item-description {
		color: $white;
		font-style: italic;
		font-weight: 700;
		font-family: "Lato", sans-serif;
		line-height: 24px;

		margin-top: 30px;
	}
}

@media only screen and (max-width: 1010px) {
	.feedback {
		padding-top: 86px;

		&__item {
			margin-bottom: 60px;
		}
	}
}

@media only screen and (max-width: 790px) {
	.feedback {
		&__list {
			justify-content: center;
		}
	}
}

// Phones
@media only screen and (max-width: 480px) {
	.feedback {
		&__title {
			font-size: 36px;
		}

		&__list {
			margin-top: 53px;
		}

		&__item {
			margin-bottom: 45px;
		}

		&__item-description {
			width: 280px;
		}
	}

	//    Pricing table
	.pricing-table {
		padding-top: 40px;

		&__list {
			margin-top: 32px;
		}

		&__item {
			margin-bottom: 18px;

			&:nth-child(even) {
				margin-left: 0;
				margin-right: 0;
			}

			&.agency {
				margin-left: 0;
			}
		}
	}
}
