.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-top: 30px;

	&__logo {
		display: flex;
		align-items: center;

		transition: 0.3s;

		&-img {
			display: block;

			&-hover {
				display: none;
			}
		}

		&-text {
			color: $violet;
			font-size: 24px;
			font-family: "Lato", sans-serif;
			text-transform: uppercase;

			margin-left: 17px;
		}

		//    HOVER
		&:hover .nav__logo-img,
		&:active .nav__logo-img,
		&:focus .nav__logo-img {
			display: none;
		}

		&:hover .nav__logo-img-hover,
		&:active .nav__logo-img-hover,
		&:focus .nav__logo-img-hover {
			display: block;
		}

		&:hover .nav__logo-text,
		&:active .nav__logo-text,
		&:focus .nav__logo-text {
			color: $white;
		}
		//    /HOVER
	}

	&__list {
		display: flex;
		margin-left: auto;
		transition: 0.3s;
	}

	&__item {
		&:not(:first-child) {
			margin-left: 48px;
		}
	}

	&__link {
		color: $violet;
		font-family: "Montserrat", sans-serif;
		font-weight: bold;

		transition: 0.3s;

		&:hover,
		&:active,
		&:focus {
			color: $white;
		}
	}

	&__btn {
		font-weight: 700;

		background-color: $violet;
		border: 1px solid $violet;
		border-radius: 40px;

		transition: 0.3s;

		margin-left: 48px;
		padding: 11px 20px;

		&:hover,
		&:active,
		&:focus {
			background: $white;
			color: $violet;
		}
	}
}

.humburger-menu {
	display: none;

	&__line {
		position: relative;
		width: 26px;
		height: 3px;

		background-color: $white;
		border-radius: 5px;

		transition: 0.3s;

		&::before,
		&::after {
			@include before-after;
			width: inherit;
			height: inherit;

			background-color: inherit;
			border-radius: inherit;
		}

		&::before {
			width: 15px;
			top: -8px;
		}

		&::after {
			top: 8px;
		}
	}

	&__line.active {
		transform: rotate(45deg);

		&::before {
			display: none;
		}

		&::after {
			transform: rotate(90deg);
			margin-top: -8px;
		}
	}
}

@media only screen and (max-width: 1010px) {
	.header {
		background-color: $dark-gray;
	}

	.nav {
		flex-wrap: wrap;
		padding: 20px 0;

		&__list {
			order: 3;
			margin: auto;
			margin-top: 20px;
		}

		&__item {
			&:not(:first-child) {
				margin-left: 48px;
			}
		}
	}
}

@media only screen and (max-width: 690px) {
	.nav {
		&__item {
			&:not(:first-child) {
				margin-left: 28px;
			}
		}
	}
}

// Phones
@media only screen and (max-width: 480px) {
	.nav {
		position: relative;

		&__logo {
			&-text {
				display: none;
			}
		}

		&__btn {
			margin: 0;
		}

		&__list {
			display: none;
			position: absolute;
			top: 62px;
			left: 0;

			width: 100%;

			flex-direction: column;
			text-align: left;

			&.active {
				display: flex;
			}
		}

		&__link {
			color: $white;
			font-size: 26px;
		}

		&__item {
			display: inline-block;
			position: relative;

			background-color: #333333;
			border-bottom: 3px solid #3b3b3b;

			margin: 0;
			margin-top: -1px;
			padding: 30px 0 30px 27px;

			&:not(:first-child) {
				margin-left: 0;
			}

			&:active .nav__link {
				color: $violet;
				padding-left: 4px;
			}

			&:active .nav__link::before {
				@include before-after;
				top: 20%;

				height: 53px;
				width: 8px;

				background-color: $violet;
			}
		}

		&__btn {
			font-size: 15px;
			padding: 10px 15px;
		}
	}

	.humburger-menu {
		display: block;
	}
}
