.intro {
	&__title {
		color: $white;
		font-size: 82px;
		font-weight: 700;
		text-align: center;

		margin-top: 120px;
	}

	&__subtitle {
		font-size: 30px;
		font-family: "Lato", sans-serif;

		margin-top: 20px;
	}

	&__operating-system {
		color: $secondary-black;

		margin-top: 20px;
	}
}

// Tablets
@media only screen and (max-width: 1010px) {
	.intro {
		&__title {
			font-size: 72px;
			margin-top: 70px;
		}

		&__subtitle {
			font-size: 24px;
		}

		&__operating-system {
			font-size: 14px;
		}
	}
}

// Phones
@media only screen and (max-width: 480px) {
	.intro {
		&__title {
			font-size: 48px;
			margin-top: 50px;
		}

		&__subtitle {
			font-size: 16px;
		}

		&__operating-system {
			font-size: 14px;
			margin-top: 15px;
		}
	}
}
