.pricing-table {
	color: $white;
	background-color: #483c4d;

	padding-top: 132px;
	padding-bottom: 70px;

	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		margin-top: 60px;
	}

	&__item {
		position: relative;

		width: 257px;
		height: 457px;

		background-color: rgba($white, 0.11);

		+ .pricing-table__item {
			margin-left: 15px;
		}

		&.agency {
			width: 299px;
			height: 560px;

			background-color: rgba(#463048, 0.84);
		}

		&-title {
			font-size: 24px;
			text-transform: uppercase;

			padding: 36px 0;
			background-color: rgba($white, 0.06);

			&.agency {
				background-color: rgba(#000, 0.11);
				padding: 43px 0;
			}
		}

		&-price {
			margin-top: 30px;
			margin-bottom: 38px;

			&.agency {
				margin-top: 15px;
				margin-bottom: 46px;

				& .number {
					font-size: 92px;
				}
			}

			& .number {
				font-size: 60px;
				font-weight: 700;

				& span {
					font-weight: 400;
				}
			}

			& .per-month {
				font-size: 14px;
				text-transform: uppercase;

				margin-top: 20px;
			}
		}

		&-line {
			background-color: $violet;

			width: 60px;
			height: 5px;

			margin: 0 auto;
		}

		&-benefits {
			display: inline-block;
			text-transform: capitalize;
			line-height: 18px;

			padding: 0 10px;
			margin-top: 36px;

			&.agency {
				margin-top: 40px;
			}
		}

		&-btn {
			display: inline-block;

			position: absolute;
			bottom: 36px;
			left: 47px;

			text-transform: uppercase;
			background-color: rgba($white, 0.15);
			border-radius: 25px;

			padding: 15px 38px;
			margin: 0 auto;

			&.agency {
				bottom: 47px;
				left: 55px;

				font-size: 16px;

				padding: 18px 48px;
			}
		}
	}
}

// Tablets
@media only screen and (max-width: 1010px) {
	pricing-table {
		padding-top: 109px;
		padding-bottom: 30px;

		&__list {
			margin-top: 39px;
		}

		&__item {
			margin: 0;
			margin-bottom: 30px;

			&:nth-child(odd) {
				margin-left: 0;
			}

			&:nth-child(even) {
				margin-left: 25px;
			}

			&.agency {
				margin-left: -41px;
			}
		}
	}
}

@media only screen and (max-width: 690px) {
	.pricing-table {
		&__item {
			margin: 0;
			margin-bottom: 18px;

			&:nth-child(even) {
				margin-left: 10px;
			}

			&.agency {
				margin-left: 0;
			}
		}
	}
}
