.revolutionary {
	padding-bottom: 70px;

	&__btn-wrapper {
		margin-top: -38px;
	}

	&__dwnld-button {
		display: inline-block;
		color: #ffffff;
		font-weight: 700;
		font-size: 21px;

		background: $violet;
		border-radius: 40px;
		border: 2px solid $violet;

		transition: 0.3s;

		padding: 23px 61px;

		&:hover {
			color: #8d81ac;
			background: $white;
		}
	}

	&__under-btn {
		display: block;
		color: $secondary-black;
		font-size: 14px;

		margin-top: 20px;
	}

	&__content {
		margin-top: 66px;
	}

	&__title {
		font-weight: 700;
		font-size: 54px;

		margin-bottom: 35px;
	}

	&__subtitle {
		color: $primary-black;
		font-size: 21px;
		font-family: "Lato", sans-serif;
	}

	&__github-img {
		margin-top: 13px;
	}
}
