.what-you-get {
	display: inline-block;
	position: relative;

	background-color: #f4f4f4;

	padding: 98px 0 71px 80px;

	&__article {
		display: flex;
		flex-wrap: wrap;
	}

	&__title {
		font-size: 48px;
		font-weight: 700;
		margin-left: 74px;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		margin-bottom: 35px;

		&-content {
			text-align: left;

			width: 400px;
			margin-left: 23px;

			&-title {
				color: $primary-black;
			}

			&-subtitle {
				color: $secondary-black;
			}
		}

		&-icon {
			&.make-web-better-icon-1 {
				width: 111px;
				height: 64px;
			}

			&.powerful-toole-icon {
				width: 90px;
				height: 80px;
			}

			&.experimental-stuff-icon {
				width: 60px;
				height: 84px;
			}

			&.make-web-better-icon-2 {
				width: 71px;
				height: 71px;
			}
		}
	}

	&__img {
		@include absolute;
		top: auto;
		left: auto;
		bottom: 33px;
		right: 0;

		width: 610px;
	}
}
